/* @keyframes widen-title {
   0% {
      width: auto;
   }
   100% {
      width: 100%;
   }
}
@keyframes widen-line {
   0% {
      width: 8px;
   }
   100% {
      width: 100%;
   }
} */

.empty-grow {
   flex-grow: 1;
   transition: flex-grow 1.2s;
}

.cert:hover .empty-grow {
   flex-grow: 0.00001;
}

/* .empty-grow:hover {
   flex-grow: 0.00001;
} */

.cert-line {
   width: 24px;
   transition: width 1.2s;
}

.cert:hover .cert-line {
   width: 100%;
}
